<div>
  <h4>Welcome to the Lead Gen Card endpoint sample.</h4>
  <p>This is a basic demo of an endpoint accepting leads from Twitter
    <a href="https://support.twitter.com/articles/20170389" target="_blank">Lead Generation Cards</a>.
  </p>

  <p>Now that you have the server running, there are a number of things you can do:</p>

  <ul>
  <li>Test your own server.
  <li>Create a Lead Gen Card via the UI.
  <li>Create a Lead Gen Card via the API.
  </ul>

  <p>To help you better understand the overall flow, we have a
    <a href="https://twitter.com/jaakkosf/status/486012969273139201" target="_blank">public tweet + Card</a>
    you can use to submit a lead. (You'll have to be logged into Twitter.com first.)
  </p>

  <p>Once you have submitted your information, you can then visit
    <a href="https://limitless-ocean-4365.herokuapp.com/card/176b" target="_blank">our example test server</a> and enter Card id <strong>176b</strong> to
    confirm your lead information was sent from Twitter to the example test server.
  </p>

</div>
