<h2>Sample Lead Generation Card Endpoint</h2>

<div class="hero-unit">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
  <li><a href="#test" role="tab" data-toggle="tab">Test your server</a></li>
  <li><a href="#test_public" role="tab" data-toggle="tab">Test with a public Card and server</a></li>
  <li><a href="#card" role="tab" data-toggle="tab">Create a Lead Gen Card</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="home">
  
<div>
	<br>
    <h4>Welcome to the Lead Gen Card endpoint sample.</h4>
    <p>This is a basic demo of an endpoint accepting leads from Twitter <a href="https://support.twitter.com/articles/20170389">Lead Generation Cards</a>.</p>
</div>
<p>Now that you have the server running, there are a number of things you can do:</p>

<ul>
<li>Test your own server.
<li>Test with a public Card and a public server.
<li>Create a Lead Gen Card via the UI.
<li>Create a Lead Gen Card via the API.
</ul>

  </div>

  <div class="tab-pane" id="test">
  
<div>
	<br>
	<h4>Test your server's lead capture endpoint </h4>
</div>
<p>Click on <a href="https://<%= request.host %>:<%= request.port %>/endpoint?name=Ryan Choi&screen_name=rchoi&email=test@test.com&token=SOME_TOKEN&card=12345" target="_target">this link</a>, which submits a lead capture to your server via a GET request. You should confirm you get an `OK` response.</p>
<p>If you look at the URL, you will see it expects the <a href="https://dev.twitter.com/ads/reference/get/accounts/%3Aaccount_id/cards/lead_gen" target="_target">default parameters</a> below:<p>
<ul>
<li><i>name</i>
<li><i>screen_name</i>
<li><i>email</i>
<li><i>token</i>
<li><i>card</i>
</ul>
<p>Then come back here and enter Card id <strong>12345</strong> below.</p>

  </div>

  <div class="tab-pane" id="test_public">
  
<div>
	<br>
	<h4>Test a public Lead Gen Card &  back-end server</h4>
</div>
<p><a href="https://twitter.com/jaakkosf/status/486012969273139201">Use this tweet + Card</a> to submit a lead. (You'll have to be logged into Twitter.com first.) Then visit <a href="https://limitless-ocean-4365.herokuapp.com/Card/176b">our test server</a> and enter Card id <strong>176b</strong> below.</p>

  </div>

  <div class="tab-pane" id="card">
  
<div>
	<br>
	<h4>Create a Card: Via the UI</h4>
</div>
<p>To create a Card via the UI, visit <a href="https://ads.twitter.com" target="_target">https://ads.twitter.com</a> and click on the "Creatives" link at the top. You will then see the below
screen that will walk you through creating a Lead Gen Card. Be sure to populate the <code>Submit URL</code> as <strong>https://<%= request.host %>:<%= request.port %>/endpoint</strong> for Twitter to submit leads to your server.</p>
<p>Lastly, ensure that you  tweet the resulting Card URL for your first Lead Gen Card in a tweet.</p>

<div>
	<br>
	<h4>Create a Card: Via the API</h4>
</div>
<p>Below is a <a href="https://github.com/twitter/twurl" target="_target">twurl</a> example to create a Lead Gen Card:</p>
<pre>
twurl -H ads-api.twitter.com -X POST -d "account_id=MY_ACCOUNT_ID&name=Lead+Gen+Card+Test&image_media_id=MY_MEDIA_ID&title=Test+Title&cta=Test+Now&fallback_url=http://dev.twitter.com&privacy_policy_url=http://dev.twitter.com" "/0/accounts/MY_ACCOUNT_ID/cards/lead_gen"
</pre>
<p>Ensure you have read how to upload media from our <a href="https://dev.twitter.com/rest/public/uploading-media">Guide to Uploading Media</a>. (As a shortcut, you can tweet out an image in the UI and query back the tweet's media.id_str and use that.) 
<p>The response you will receive will look like the following:</p>
<pre>
{"data_type":"card","data":{"name":"Lead+Gen+Card+Test","fallback_url":"http:\/\/dev.twitter.com","image":"https:\/\/pbs.twimg.com\/media-preview\/snf:666848265044799488\/8ouZRa5G.jpg","privacy_policy_url":"http:\/\/dev.twitter.com","preview_url":"https:\/\/cards.twitter.com\/cards\/MY_ACCOUNT_ID\/16pje","id":"16pje","account_id":"MY_ACCOUNT_ID","cta":"Test+Now","created_at":"2015-11-18T05:20:19Z","title":"Test+Title","updated_at":"2015-11-18T05:20:19Z","deleted":false,"card_type":"LEAD_GENERATION"},"request":{"params":{"name":"Lead+Gen+Card+Test","fallback_url":"http:\/\/dev.twitter.com","image":"https:\/\/pbs.twimg.com\/media-preview\/snf:666848265044799488\/8ouZRa5G.jpg","privacy_policy_url":"http:\/\/dev.twitter.com","account_id":"MY_ACCOUNT_ID","cta":"Test+Now","title":"Test+Title","card_type":"LEAD_GENERATION"}}}
</pre> 
<p>Most importantly, the <code>preview_url</code> is the URL of the Lead Gen Card. Ensure that you tweet this resulting URL for your first Lead Gen Card in a tweet.</p>

  
  </div>

</div>

</div>  
