<h2>Sample Lead Generation Card Endpoint</h2>

<div>
    <p class="lead">Welcome to the leadgencard-endpoint sample. This is a basic demo of an endpoint accepting leads from Twitter <a href="https://support.twitter.com/articles/20170389">Lead Generation cards</a>.</p>
</div>
<div class="hero-unit">
<ul>
<li>To get started, point your card hosted at Twitter to <strong>https://<%= request.host %>/endpoint</strong>, either as a POST or a GET.</li>
<li>Test the card out, either via the test form in the ads.twitter.com UI, or via the card itself.</li>
<li>Then, use the card search below to check the data we received from Twitter.</li>
</ul>
</div>  
