<h2>Sample Lead Generation Card Endpoint</h2>

<div>
    <p class="lead">Welcome to the leadgencard-endpoint sample. This is a basic demo of an endpoint accepting leads from Twitter <a href="https://support.twitter.com/articles/20170389">Lead Generation cards</a>.</p>
</div>
<div class="hero-unit">
<ul>
<li>To get started, point your card hosted at Twitter to <strong>https://<%= request.host %>/endpoint</strong>, either as a POST or a GET.</li>
<li>Test the card out, either via the test form in the ads.twitter.com UI, or via the card itself.</li>
<li>Then, use the card search below to check the data we received from Twitter.</li>
</ul>

<div>
	<h4>Want to test that your server's lead gen capture works?</h4>
</div>
<p>Click on <a href="" target="_target">this link</a>, which submits a lead capture to your server via a GET request. You should confirm you get an `OK` response</p>
<p>Then come back here and enter card id <strong>12345</strong> below to verify the lead in your cache.</p>

<div>
	<h4>Want to test with a sample lead gen card?</h4>
</div>

<p><a href="https://twitter.com/jaakkosf/status/486012969273139201">Use this one</a> to submit a lead. (You'll have to be logged into Twitter.com first.) Then visit <a href="https://limitless-ocean-4365.herokuapp.com/card/176b">our test server</a> and enter card id <strong>176b</strong> below.</p>
</div>  
