<h2>Sample Lead Generation Card Endpoint</h2>

<div class="hero-unit">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
  <li><a href="#test" role="tab" data-toggle="tab">Test your server</a></li>
  <li><a href="#card" role="tab" data-toggle="tab">Create a Lead Gen Card</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="home">
  
<div>
	<br>
    <h4>Welcome to the Lead Gen Card endpoint sample.</h4>
    <p>This is a basic demo of an endpoint accepting leads from Twitter <a href="https://support.twitter.com/articles/20170389">Lead Generation Cards</a>.</p>
</div>
<p>Now that you have the server running, there are a number of things you can do:</p>

<ul>
<li>Test your own server.
<li>Create a Lead Gen Card via the UI.
<li>Create a Lead Gen Card via the API.
</ul>

<p>To help you better understand the overall flow, we have a <a href="https://twitter.com/jaakkosf/status/486012969273139201">public tweet + Card</a>
you can use to submit a lead. (You'll have to be logged into Twitter.com first.) </p>
<p>Once you have submitted your information, you can then visit 
<a href="https://limitless-ocean-4365.herokuapp.com/card/176b">our example test server</a> and enter Card id <strong>176b</strong> to
confirm your lead information was sent from Twitter to the example test server.</p>

  </div>

  <div class="tab-pane" id="test">
  
<div>
	<br>
	<h4>Test your server's lead capture endpoint </h4>
</div>
<p>Click on <a href="https://<%= request.host %>:<%= request.port %>/endpoint?name=Ryan+Choi&screen_name=rchoi&tw_userId=12345612&email=test@test.com&token=SOME_TOKEN&card=12345" target="_target">this link</a>, which submits a lead capture to your server via a GET request. You should confirm you get an `OK` response.</p>
<p>If you look at the URL, you will see it expects the <a href="https://dev.twitter.com/ads/reference/get/accounts/%3Aaccount_id/cards/lead_gen" target="_target">default parameters</a> below:<p>
<ul>
<li><i>name</i>
<li><i>screen_name</i>
<li><i>tw_userId</i>
<li><i>email</i>
<li><i>token</i>
<li><i>card</i>
</ul>
<p>Then come back here and enter the card id <strong>12345</strong> below.</p>

	<h4>How it works</h4>
	
<p>After you create the Lead Gen Card and specify the <code>submit_url</code>, newly created leads will be sent to
your server via the specified URL and either GET or POST payload that contains the following contents:
</p>

<pre>
{
  "name": "Ryan Choi",
  "email": "test@test.com",
  "screen_name": "rchoi",
  "tw_userId": 54256387,
  "card": "16po2",
  "token": "SOME_TOKEN"
}
</pre>

  </div>

  <div class="tab-pane" id="card">
  
<div>
	<br>
	<h4>Create a Card: Via the UI</h4>
</div>
<p>To create a Card via the UI, visit <a href="https://ads.twitter.com" target="_target">https://ads.twitter.com</a> and click on the "Creatives" link at the top. You will then see the below
screen that will walk you through creating a Lead Gen Card. Be sure to populate the <code>Submit URL</code> as <strong>https://<%= request.host %>/endpoint</strong> for Twitter to submit leads to your server.</p>
<p>Lastly, ensure that you  tweet the resulting Card URL for your first Lead Gen Card in a tweet.</p>

<div>
	<br>
	<h4>Create a Card: Via the API</h4>
</div>
<p>Below is a <a href="https://github.com/twitter/twurl" target="_target">twurl</a> example to create a Lead Gen Card:</p>
<pre>
twurl -H ads-api.twitter.com -X POST -d "account_id=MY_ACCOUNT_ID&name=Lead+Gen+Card+Test&image_media_id=MY_MEDIA_ID&title=Test+Title&cta=Test+Now&fallback_url=http://dev.twitter.com&privacy_policy_url=http://dev.twitter.com&submit_method=GET&submit_url=https://<%= request.host %>/endpoint" "/0/accounts/MY_ACCOUNT_ID/cards/lead_gen"
</pre>
<p>Two things to note in the twurl example above:</p>
<ul>
<li>For <i>MY_ACCOUNT_ID</i>, use the 5-character string in the URL after logging into ads.twitter.com.
<li>For <i>MY_MEDIA_ID</i>, read how to upload media on our <a href="https://dev.twitter.com/rest/public/uploading-media">Guide to Uploading Media</a>. (As a shortcut, you can tweet out an image in the UI and query back the tweet's media.id_str.)
</ul>
<p>The response you will receive will look like the following:</p>
<pre>
{"data_type":"card","data":{"name":"Lead+Gen+Card+Test","fallback_url":"http:\/\/dev.twitter.com","image":"https:\/\/pbs.twimg.com\/media-preview\/snf:666848265044799488\/mhBOmbO8.jpg","privacy_policy_url":"http:\/\/dev.twitter.com","preview_url":"https:\/\/cards.twitter.com\/cards\/MY_ACCOUNT_ID\/16po2","submit_url":"https:\/\/tranquil-shelf-2540.herokuapp.com\/endpoint","id":"16po2","account_id":"MY_ACCOUNT_ID","cta":"Test+Now","created_at":"2015-11-18T06:17:47Z","submit_method":"GET","title":"Test+Title","updated_at":"2015-11-18T06:17:47Z","deleted":false,"card_type":"LEAD_GENERATION"},"request":{"params":{"name":"Lead+Gen+Card+Test","fallback_url":"http:\/\/dev.twitter.com","image":"https:\/\/pbs.twimg.com\/media-preview\/snf:666848265044799488\/mhBOmbO8.jpg","privacy_policy_url":"http:\/\/dev.twitter.com","submit_url":"https:\/\/tranquil-shelf-2540.herokuapp.com\/endpoint","account_id":"MY_ACCOUNT_ID","cta":"Test+Now","submit_method":"GET","title":"Test+Title","card_type":"LEAD_GENERATION"}}}
</pre> 
<p>Most importantly, the <code>preview_url</code> is the URL of the Lead Gen Card. Ensure that you tweet this resulting URL for your first Lead Gen Card in a tweet.</p>

  
  </div>

</div>

</div>  
