<html>
  <head>
    <title>Lead Generation Card Endpoint Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <%= yield %>

<hr>
<div class="bg-info" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
    <p>Want to lookup <% if defined?(card_id) %>another<% else %>a<% end %> card on this server?</p>
<script>
function process()
{
var url="/card/" + document.getElementById("cardid").value;
location.href=url;
return false;
}
</script>
<form role="form" class="form-inline" onSubmit="return process();">
<div class="form-group">
    <label for="cardid">Card ID</label>
    <input type="text" class="form-control" id="cardid" placeholder="abc123">
</div>
<button type="submit" class="btn btn-primary">Lookup</button>
</form>
</div>
<hr>
    <div class="footer">
<p class="text-muted"><small>This is a basic lead generation endpoint <a href="/">demo</a> created by <a href="https://twitter.com/jaakkosf" target="_blank">@jaakkosf</a>. from the <a href="https://twitter.com/TwitterDev" target="_blank">@TwitterDev</a> team. It is written in Ruby, using <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a> and <a href="https://github.com/mperham/dalli" target="_blank">dalli</a>. Basic CSS is provided by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>. The source code for this project can be found at <a href="https://github.com/twitterdev/leadgencard-endpoint" target="_blank">github/twitterdev/leadgencard-endpoint</a>.</small></p>
</div>
</div>
  </body>
</html>
